<a href="https://colab.research.google.com/github/RaquelFonsec/conexao-mysql-GCP/blob/main/Conexao_mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [160]:
### Esse é o identificador do colab e deve ser inserido no campo rede na gcp quando reinicial o colab ele muda e deverá ser atualizado na gcp
!curl ipecho.net/plain

34.148.137.209

In [161]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.11/dist-packages (9.2.0)

In [162]:
import mysql.connector
import pandas as pd

In [163]:
host = '34.170.104.203'#esse vem da GCP ip da instancia
user = 'root'
password = ''

In [164]:
# Criando a conexão com o banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password
)

# Criando o cursor para executar comandos SQL
cursor = connection.cursor()

# Consulta SQL para listar os bancos de dados
query = 'SHOW DATABASES;'
cursor.execute(query)

# Armazenando os resultados
result = cursor.fetchall()

# Convertendo os resultados para um DataFrame do Pandas
bancos = pd.DataFrame(result, columns=["Databases"])  # Nomeando a coluna corretamente

# Exibindo a tabela Pandas
display(bancos)

# Fechando cursor e conexão
cursor.close()
connection.close()

            Databases
0  information_schema
1            locadora
2               mysql
3  performance_schema
4                 sys

In [ ]:
import mysql.connector

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL

# Criando a conexão com o MySQL
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password
)

cursor = connection.cursor()

# Verifica se o banco de dados "locadora" já existe
cursor.execute("SHOW DATABASES;")
bancos_existentes = [banco[0] for banco in cursor.fetchall()]

if "locadora" not in bancos_existentes:
    query = "CREATE DATABASE locadora"
    cursor.execute(query)
    print("Banco de dados 'locadora' criado com sucesso!")
else:
    print("O banco de dados 'locadora' já existe.")

# Fechando cursor e conexão
cursor.close()
connection.close()

O banco de dados 'locadora' já existe.

In [ ]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
) # estas linhas servem para criar a conexão com o banco de dados
cursor = connection.cursor() #criando o cursor para apontar para o banco de dados
query = 'show databases;' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
result = cursor.fetchall() # armazenando os resultados na variável results
bancos = pd.DataFrame(result,columns=cursor.column_names) # convertendo a variável result em um df pandas chamado tabelas
display(bancos) # exibindo a tabela pandas
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

             Database
0  information_schema
1            locadora
2               mysql
3  performance_schema
4                 sys

In [ ]:
 #Definindo os parâmetros para conexão com a instância SQL
host = '34.170.104.203'
user = 'root'
password = ''
database = 'locadora'

In [ ]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database = database,
) # estas linhas servem para criar a conexão com o banco de dados
cursor = connection.cursor() #criando o cursor para apontar para o banco de dados
query = 'show tables;' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
result = cursor.fetchall() # armazenando os resultados na variável results
bancos = pd.DataFrame(result,columns=cursor.column_names) # convertendo a variável result em um df pandas chamado tabelas
display(bancos) # exibindo a tabela pandas
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

  Tables_in_locadora
0            aluguel
1              carro
2            cliente
3              marca

In [ ]:
import mysql.connector

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Criando a conexão com o banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

cursor = connection.cursor()

# Verifica se a tabela "cliente" já existe antes de tentar criar
cursor.execute("SHOW TABLES LIKE 'cliente';")
tabela_existe = cursor.fetchone()

if not tabela_existe:
    query = '''
    CREATE TABLE cliente(
        codcliente INT PRIMARY KEY,
        nome VARCHAR(50),
        cidade VARCHAR(50),
        sexo CHAR(1),
        estado CHAR(2),
        estadocivil CHAR(1)
    );
    '''
    cursor.execute(query)
    print("Tabela 'cliente' criada com sucesso!")
else:
    print("A tabela 'cliente' já existe.")

# Fechando cursor e conexão
cursor.close()
connection.close()

A tabela 'cliente' já existe.

In [ ]:
import mysql.connector

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Criando a conexão com o banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

cursor = connection.cursor()

# Verifica se a tabela "marca" já existe antes de criar
cursor.execute("SHOW TABLES LIKE 'marca';")
tabela_existe = cursor.fetchone()

if not tabela_existe:
    query = '''
    CREATE TABLE marca(
        codmarca INT PRIMARY KEY,
        marca VARCHAR(30)
    );
    '''
    cursor.execute(query)
    print("Tabela 'marca' criada com sucesso!")
else:
    print("A tabela 'marca' já existe.")

# Fechando cursor e conexão
cursor.close()
connection.close()

A tabela 'marca' já existe.

In [ ]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
) # estas linhas servem para criar a conexão com a instância
cursor = connection.cursor() #criando o cursor para apontar para a instância
query = '''
CREATE TABLE carro(
codcarro INT PRIMARY KEY,
codmarca INT,
modelo VARCHAR(30) NOT NULL,
valor FLOAT,
FOREIGN KEY (codmarca) REFERENCES marca (codmarca)
);
''' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
connection.commit()
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

In [ ]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
) # estas linhas servem para criar a conexão com a instância
cursor = connection.cursor() #criando o cursor para apontar para a instância
query = '''
CREATE TABLE aluguel(
codaluguel INT PRIMARY KEY,
codcliente INT,
codcarro INT,
data_aluguel DATE,
FOREIGN KEY (codcliente) REFERENCES cliente (codcliente),
FOREIGN KEY (codcarro) REFERENCES carro (codcarro)
);
''' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
connection.commit()
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

In [ ]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database = database,
) # estas linhas servem para criar a conexão com o banco de dados
cursor = connection.cursor() #criando o cursor para apontar para o banco de dados
query = 'show tables;' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
result = cursor.fetchall() # armazenando os resultados na variável results
bancos = pd.DataFrame(result,columns=cursor.column_names) # convertendo a variável result em um df pandas chamado tabelas
display(bancos) # exibindo a tabela pandas
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

  Tables_in_locadora
0            aluguel
1              carro
2            cliente
3              marca

In [ ]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
) # estas linhas servem para criar a conexão com a instância
cursor = connection.cursor() #criando o cursor para apontar para a instância
query = '''
INSERT INTO cliente (codcliente, nome, cidade, sexo, estado, estadocivil)
VALUES
(1, 'Ana Silva', 'Duque de Caxias', 'F', 'RJ', 'C'),
(2, 'Bruna Pereira', 'Niterói', 'F', 'RJ', 'C'),
(3, 'Túlio Nascimento', 'Duque de Caxias', 'M', 'RJ', 'S'),
(4, 'Fernando Souza', 'Campinas', 'M', 'SP', 'S'),
(5, 'Lúcia Andrade', 'São Paulo', 'F', 'SP', 'C');
''' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
connection.commit()
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

In [ ]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
) # estas linhas servem para criar a conexão com a instância
cursor = connection.cursor() #criando o cursor para apontar para a instância
query = '''
INSERT INTO marca (codmarca, marca) VALUES
(1, 'Ford'),
(2, 'Fiat'),
(3, 'Chevrolet'),
(4, 'Volkswagen'),
(5, 'Renault');
''' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
connection.commit()
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

In [ ]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
) # estas linhas servem para criar a conexão com a instância
cursor = connection.cursor() #criando o cursor para apontar para a instância
query = '''
INSERT INTO carro (codcarro, modelo, codmarca, valor) VALUES
(1, 'Ka', 1, 100.00),
(2, 'Argo', 2, 150.00),
(3, 'Onix', 3, 170.00),
(4, 'Polo', 4, 150.00),
(5, 'Kwid', 5, 120.00);
''' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
connection.commit()
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

In [ ]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
) # estas linhas servem para criar a conexão com a instância
cursor = connection.cursor() #criando o cursor para apontar para a instância
query = '''
INSERT INTO aluguel (codaluguel, codcliente, codcarro, data_aluguel)VALUES
(1, 3, 2, '2023-04-01'),
(2, 2, 1, '2023-04-02'),
(3, 2, 1, '2023-04-03'),
(4, 2, 3, '2023-04-04'),
(5, 1, 4, '2023-04-05'),
(6, 1, 4, '2023-04-13'),
(7, 1, 1, '2023-04-15'),
(8, 5, 2, '2023-04-19'),
(9, 5, 2, '2023-04-21'),
(10,3, 1, '2023-04-25');
''' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
connection.commit()
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

In [ ]:
# Recuperando os valores da tabela cliente
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database = database,
) # estas linhas servem para criar a conexão com o banco de dados
cursor = connection.cursor() #criando o cursor para apontar para o banco de dados
query = 'select * from cliente;' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
result = cursor.fetchall() # armazenando os resultados na variável results
clientes = pd.DataFrame(result,columns=cursor.column_names) # convertendo a variável result em um df pandas chamado tabelas
display(clientes) # exibindo a tabela pandas
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

   codcliente              nome           cidade sexo estado estadocivil
0           1         Ana Silva  Duque de Caxias    F     RJ           C
1           2     Bruna Pereira          Niterói    F     RJ           C
2           3  Túlio Nascimento  Duque de Caxias    M     RJ           S
3           4    Fernando Souza         Campinas    M     SP           S
4           5     Lúcia Andrade        São Paulo    F     SP           C

In [ ]:
# Recuperando os valores da tabela carro
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database = database,
) # estas linhas servem para criar a conexão com o banco de dados
cursor = connection.cursor() #criando o cursor para apontar para o banco de dados
query = 'select * from carro;' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
result = cursor.fetchall() # armazenando os resultados na variável results
carro = pd.DataFrame(result,columns=cursor.column_names) # convertendo a variável result em um df pandas chamado tabelas
display(carro) # exibindo a tabela pandas
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

   codcarro  codmarca modelo  valor
0         1         1     Ka  100.0
1         2         2   Argo  150.0
2         3         3   Onix  170.0
3         4         4   Polo  150.0
4         5         5   Kwid  120.0

In [ ]:
# Recuperando os valores da tabela carro
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database = database,
) # estas linhas servem para criar a conexão com o banco de dados
cursor = connection.cursor() #criando o cursor para apontar para o banco de dados
query = 'select * from marca;' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
result = cursor.fetchall() # armazenando os resultados na variável results
marca = pd.DataFrame(result,columns=cursor.column_names) # convertendo a variável result em um df pandas chamado tabelas
display(marca) # exibindo a tabela pandas
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

   codmarca       marca
0         1        Ford
1         2        Fiat
2         3   Chevrolet
3         4  Volkswagen
4         5     Renault

In [ ]:
# Recuperando os valores da tabela carro
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database = database,
) # estas linhas servem para criar a conexão com o banco de dados
cursor = connection.cursor() #criando o cursor para apontar para o banco de dados
query = 'select * from aluguel;' # Query ou consulta desejada
cursor.execute(query) # Execução da consulta
result = cursor.fetchall() # armazenando os resultados na variável results
aluguel = pd.DataFrame(result,columns=cursor.column_names) # convertendo a variável result em um df pandas chamado tabelas
display(aluguel) # exibindo a tabela pandas
cursor.close() # fechando o cursor
connection.close() # fechando a conexão

   codaluguel  codcliente  codcarro data_aluguel
0           1           3         2   2023-04-01
1           2           2         1   2023-04-02
2           3           2         1   2023-04-03
3           4           2         3   2023-04-04
4           5           1         4   2023-04-05
5           6           1         4   2023-04-13
6           7           1         1   2023-04-15
7           8           5         2   2023-04-19
8           9           5         2   2023-04-21
9          10           3         1   2023-04-25

In [ ]:
# Definindo os parâmetros para conexão com a instância SQL
host = '34.170.104.203'
user = 'root'
password = ''
database = 'locadora'

In [ ]:
def consulta():
    # Conectando ao banco de dados
    config = {
    'host': '34.170.104.203',
    'user': 'root',
    'password': '',
    'database': 'locadora',
    'port': 3306
    }
    conn = mysql.connector.connect(**config)
    cursor = conn.cursor()

    # Recebendo a query e executando
    query = input('Insira o código SQL para a consulta desejada: ')
    cursor.execute(query)
    result = cursor.fetchall()

    # Nome do DataFrame escolhido pelo usuário
    nome_df = input("Digite o nome que deseja dar ao DataFrame: ")

    # Criando o DataFrame com nome dinâmico no escopo global
    globals()[nome_df] = pd.DataFrame(result, columns=cursor.column_names)

    # Fechando conexões
    cursor.close()
    conn.close()

    return globals()[nome_df]

In [ ]:
'''
Recupere todas as informações da tabela marca e armazene em
um objeto pandas chamado marcas

Código SQL da consulta: SELECT * FROM marca;

nome do objeto a ser armazenado: marcas
'''

consulta()

Insira o código SQL para a consulta desejada: SELECT * FROM marca
Digite o nome que deseja dar ao DataFrame: marca

   codmarca       marca
0         1        Ford
1         2        Fiat
2         3   Chevrolet
3         4  Volkswagen
4         5     Renault

In [ ]:
'''
Recupere todas as informações da tabela aluguel e armazene em
um objeto pandas chamado marcas

Código SQL da consulta: SELECT data_aluguel FROM aluguel;

nome do objeto a ser armazenado: alugueis
'''

consulta()

Insira o código SQL para a consulta desejada: SELECT data_aluguel FROM aluguel;
Digite o nome que deseja dar ao DataFrame: aluguel

  data_aluguel
0   2023-04-01
1   2023-04-02
2   2023-04-03
3   2023-04-04
4   2023-04-05
5   2023-04-13
6   2023-04-15
7   2023-04-19
8   2023-04-21
9   2023-04-25

In [ ]:
import mysql.connector
import pandas as pd

# Definição dos parâmetros de conexão
host = '34.170.104.203'
user = 'root'
password = ''
database = 'locadora'

# Função para executar consultas com base na consulta desejada
def consulta(query):
    print("Executando a consulta...")

    # Conectando ao banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Executando a consulta SQL
    cursor.execute(query)
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhum dado encontrado.")
    else:
        # Exibindo resultados em formato tabular
        columns = [col[0] for col in cursor.description]  # Nome das colunas
        data = pd.DataFrame(result, columns=columns)
        print(data)

    cursor.close()
    connection.close()

# Consultas a serem feitas
consulta_19 = '''
SELECT * FROM aluguel
WHERE codcliente = 1;
'''

# Chamada da função para a consulta específica
consulta(consulta_19)

Executando a consulta...
   codaluguel  codcliente  codcarro data_aluguel
0           5           1         4   2023-04-05
1           6           1         4   2023-04-13
2           7           1         1   2023-04-15

SELECT

In [ ]:
import mysql.connector
import pandas as pd  # Importando o pandas para exibir os dados em formato tabular

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Função para consultar os nomes dos clientes
def consulta():
    print("Executando a consulta...")

    # Criando a conexão com o banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para listar todos os nomes dos clientes cadastrados
    query = "SELECT nome FROM cliente;"
    cursor.execute(query)  # Executando a consulta

    # Armazenando os resultados
    result = cursor.fetchall()

    # Convertendo os resultados para um DataFrame do Pandas para exibição
    clientes = pd.DataFrame(result, columns=["Nome do Cliente"])

    # Exibindo a tabela Pandas
    print(clientes)

    # Fechando o cursor e a conexão
    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
    Nome do Cliente
0         Ana Silva
1     Bruna Pereira
2  Túlio Nascimento
3    Fernando Souza
4     Lúcia Andrade

In [ ]:
import mysql.connector
import pandas as pd  # Importando o pandas para exibir os dados em formato tabular

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Função para consultar os modelos de carros
def consulta():
    print("Executando a consulta...")

    # Criando a conexão com o banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para listar todos os modelos de carros disponíveis para aluguel
    query = "SELECT modelo FROM carro;"  # Altere para o nome correto da coluna "modelo"
    cursor.execute(query)  # Executando a consulta

    # Armazenando os resultados
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhum modelo de carro encontrado.")
    else:
        # Convertendo os resultados para um DataFrame do Pandas para exibição
        modelos_carros = pd.DataFrame(result, columns=["Modelo do Carro"])

        # Exibindo a tabela Pandas
        print(modelos_carros)

    # Fechando o cursor e a conexão
    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
  Modelo do Carro
0              Ka
1            Argo
2            Onix
3            Polo
4            Kwid

In [ ]:
import mysql.connector
import pandas as pd  # Importando o pandas para exibir os dados em formato tabular

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Função para consultar os nomes dos clientes e suas cidades
def consulta():
    print("Executando a consulta...")

    # Criando a conexão com o banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para listar os nomes dos clientes e suas respectivas cidades
    query = "SELECT nome, cidade FROM cliente;"  # Substitua 'cliente' e 'nome'/'cidade' pelos nomes corretos das colunas
    cursor.execute(query)  # Executando a consulta

    # Armazenando os resultados
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhum cliente encontrado.")
    else:
        # Convertendo os resultados para um DataFrame do Pandas para exibição
        clientes_cidades = pd.DataFrame(result, columns=["Nome do Cliente", "Cidade"])

        # Exibindo a tabela Pandas
        print(clientes_cidades)

    # Fechando o cursor e a conexão
    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
    Nome do Cliente           Cidade
0         Ana Silva  Duque de Caxias
1     Bruna Pereira          Niterói
2  Túlio Nascimento  Duque de Caxias
3    Fernando Souza         Campinas
4     Lúcia Andrade        São Paulo

In [ ]:
import mysql.connector
import pandas as pd  # Importando o pandas para exibir os dados em formato tabular

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Função para exibir todas as colunas da tabela 'carro'
def consulta():
    print("Executando a consulta...")

    # Criando a conexão com o banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para exibir todas as colunas da tabela 'carro'
    query = "DESCRIBE carro;"  # Isso retorna a estrutura da tabela 'carro'
    cursor.execute(query)  # Executando a consulta

    # Armazenando os resultados
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhuma coluna encontrada.")
    else:
        # Convertendo os resultados para um DataFrame do Pandas para exibição
        colunas_carro = pd.DataFrame(result, columns=["Campo", "Tipo", "Null", "Chave", "Default", "Extra"])

        # Exibindo a tabela Pandas
        print(colunas_carro)

    # Fechando o cursor e a conexão
    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
      Campo         Tipo Null Chave Default Extra
0  codcarro          int   NO   PRI    None
1  codmarca          int  YES   MUL    None
2    modelo  varchar(30)   NO          None
3     valor        float  YES          None

In [ ]:
import mysql.connector
import pandas as pd  # Importando o pandas para exibir os dados em formato tabular

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Função para consultar o código e nome de todas as marcas cadastradas
def consulta():
    print("Executando a consulta...")

    # Criando a conexão com o banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para listar o código e nome de todas as marcas
    query = "SELECT codmarca, marca FROM marca;"  # Ajuste conforme o nome correto das colunas
    cursor.execute(query)  # Executando a consulta

    # Armazenando os resultados
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhuma marca encontrada.")
    else:
        # Convertendo os resultados para um DataFrame do Pandas para exibição
        marcas = pd.DataFrame(result, columns=["Código da Marca", "Nome da Marca"])

        # Exibindo a tabela Pandas
        print(marcas)

    # Fechando o cursor e a conexão
    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
   Código da Marca Nome da Marca
0                1          Ford
1                2          Fiat
2                3     Chevrolet
3                4    Volkswagen
4                5       Renault

In [ ]:
import mysql.connector
import pandas as pd  # Importando o pandas para exibir os dados em formato tabular

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Função para listar todas as datas de aluguel registradas
def consulta():
    print("Executando a consulta...")

    # Criando a conexão com o banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para listar todas as datas de aluguel registradas
    query = "SELECT data_aluguel FROM aluguel;"  # Ajuste o nome da coluna 'data_aluguel' conforme o seu banco
    cursor.execute(query)  # Executando a consulta

    # Armazenando os resultados
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhuma data de aluguel encontrada.")
    else:
        # Convertendo os resultados para um DataFrame do Pandas para exibição
        datas_aluguel = pd.DataFrame(result, columns=["Data de Aluguel"])

        # Exibindo a tabela Pandas
        print(datas_aluguel)

    # Fechando o cursor e a conexão
    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
  Data de Aluguel
0      2023-04-01
1      2023-04-02
2      2023-04-03
3      2023-04-04
4      2023-04-05
5      2023-04-13
6      2023-04-15
7      2023-04-19
8      2023-04-21
9      2023-04-25

In [ ]:
import mysql.connector
import pandas as pd  # Importando o pandas para exibir os dados em formato tabular

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Função para exibir nome, sexo e estado civil de todos os clientes
def consulta():
    print("Executando a consulta...")

    # Criando a conexão com o banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para exibir nome, sexo e estado civil de todos os clientes
    query = "SELECT nome, sexo, estadocivil FROM cliente;"  # Ajuste conforme o nome correto das colunas
    cursor.execute(query)  # Executando a consulta

    # Armazenando os resultados
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhum cliente encontrado.")
    else:
        # Convertendo os resultados para um DataFrame do Pandas para exibição
        clientes = pd.DataFrame(result, columns=["Nome", "Sexo", "Estado Civil"])

        # Exibindo a tabela Pandas
        print(clientes)

    # Fechando o cursor e a conexão
    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
               Nome Sexo Estado Civil
0         Ana Silva    F            C
1     Bruna Pereira    F            C
2  Túlio Nascimento    M            S
3    Fernando Souza    M            S
4     Lúcia Andrade    F            C

In [ ]:
import mysql.connector
import pandas as pd  # Importando o pandas para exibir os dados em formato tabular

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Função para exibir as colunas da tabela 'carro' e os valores de aluguel
def consulta():
    print("Executando a consulta...")

    # Criando a conexão com o banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consultando as colunas da tabela carro
    cursor.execute("DESCRIBE carro;")  # Comando para descrever a tabela 'carro'
    colunas = cursor.fetchall()

    # Exibindo as colunas da tabela carro
    print("Colunas da tabela 'carro':")
    for coluna in colunas:
        print(coluna[0])

    # Se necessário, ajustar o nome da coluna de valor de aluguel após verificação
    query = "SELECT modelo, valor FROM carro;"  # Ajuste conforme o nome correto da coluna
    cursor.execute(query)  # Executando a consulta

    # Armazenando os resultados
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhum carro disponível para aluguel encontrado.")
    else:
        # Convertendo os resultados para um DataFrame do Pandas para exibição
        carros = pd.DataFrame(result, columns=["Modelo", "Valor de Aluguel"])

        # Exibindo a tabela Pandas
        print(carros)

    # Fechando o cursor e a conexão
    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
Colunas da tabela 'carro':
codcarro
codmarca
modelo
valor
  Modelo  Valor de Aluguel
0     Ka             100.0
1   Argo             150.0
2   Onix             170.0
3   Polo             150.0
4   Kwid             120.0

In [ ]:
import mysql.connector
import pandas as pd  # Importando o pandas para exibir os dados em formato tabular

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Função para exibir os códigos dos carros e os códigos das marcas
def consulta():
    print("Executando a consulta...")

    # Criando a conexão com o banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para exibir os códigos dos carros e as marcas
    query = '''
    SELECT carro.codcarro, marca.codmarca
    FROM carro
    INNER JOIN marca ON carro.codmarca = marca.codmarca;
    '''
    cursor.execute(query)  # Executando a consulta

    # Armazenando os resultados
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhum carro encontrado ou não há marca associada.")
    else:
        # Convertendo os resultados para um DataFrame do Pandas para exibição
        carros_marcas = pd.DataFrame(result, columns=["Código do Carro", "Código da Marca"])

        # Exibindo a tabela Pandas
        print(carros_marcas)

    # Fechando o cursor e a conexão
    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
   Código do Carro  Código da Marca
0                1                1
1                2                2
2                3                3
3                4                4
4                5                5

In [ ]:
import mysql.connector
import pandas as pd  # Importando o pandas para exibir os dados em formato tabular

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Função para listar os códigos de aluguel e as datas de aluguel
def consulta():
    print("Executando a consulta...")

    # Criando a conexão com o banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para listar os códigos de aluguel e as datas
    query = '''
    SELECT codaluguel, data_aluguel
    FROM aluguel;
    '''
    cursor.execute(query)  # Executando a consulta

    # Armazenando os resultados
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhum aluguel encontrado.")
    else:
        # Convertendo os resultados para um DataFrame do Pandas para exibição
        alugueis = pd.DataFrame(result, columns=["Código de Aluguel", "Data de Aluguel"])

        # Exibindo a tabela Pandas
        print(alugueis)

    # Fechando o cursor e a conexão
    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
   Código de Aluguel Data de Aluguel
0                  1      2023-04-01
1                  2      2023-04-02
2                  3      2023-04-03
3                  4      2023-04-04
4                  5      2023-04-05
5                  6      2023-04-13
6                  7      2023-04-15
7                  8      2023-04-19
8                  9      2023-04-21
9                 10      2023-04-25

WHERE

In [ ]:
'''
A cláusula WHERE é usada para filtrar os registros retornados por uma consulta
SELECT, UPDATE ou DELETE. Ela define condições que os dados devem satisfazer
para serem incluídos no resultado.

Sintaxe:
SELECT coluna1, coluna2, ...
FROM nome_da_tabela
WHERE condição;


Como funciona:
WHERE: Indica que você está aplicando uma condição de filtragem.
condição: Pode ser uma comparação, um valor específico, uma faixa de valores,
etc.
'''

'\nA cláusula WHERE é usada para filtrar os registros retornados por uma consulta\nSELECT, UPDATE ou DELETE. Ela define condições que os dados devem satisfazer\npara serem incluídos no resultado.\n\nSintaxe:\nSELECT coluna1, coluna2, ...\nFROM nome_da_tabela\nWHERE condição;\n\n\nComo funciona:\nWHERE: Indica que você está aplicando uma condição de filtragem.\ncondição: Pode ser uma comparação, um valor específico, uma faixa de valores,\netc.\n'

In [ ]:
import mysql.connector
import pandas as pd  # Importando o pandas para exibir os dados em formato tabular

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Função para listar todos os clientes do estado do Rio de Janeiro (RJ)
def consulta():
    print("Executando a consulta...")

    # Criando a conexão com o banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para listar todos os clientes do estado RJ
    query = '''
    SELECT codcliente, nome, cidade, estado
    FROM cliente
    WHERE estado = 'RJ';
    '''
    cursor.execute(query)  # Executando a consulta

    # Armazenando os resultados
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhum cliente encontrado no estado do Rio de Janeiro.")
    else:
        # Convertendo os resultados para um DataFrame do Pandas para exibição
        clientes_rj = pd.DataFrame(result, columns=["Código do Cliente", "Nome", "Cidade", "Estado"])

        # Exibindo a tabela Pandas
        print(clientes_rj)

    # Fechando o cursor e a conexão
    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
   Código do Cliente              Nome           Cidade Estado
0                  1         Ana Silva  Duque de Caxias     RJ
1                  2     Bruna Pereira          Niterói     RJ
2                  3  Túlio Nascimento  Duque de Caxias     RJ

In [ ]:
import mysql.connector
import pandas as pd  # Importando o pandas para exibir os dados em formato tabular

# Definição dos parâmetros de conexão
host = '34.170.104.203'  # IP da instância GCP
user = 'root'
password = ''  # Sua senha do MySQL
database = 'locadora'  # Nome do banco de dados

# Função para listar os carros com valor superior a 120 reais
def consulta():
    print("Executando a consulta...")

    # Criando a conexão com o banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para listar carros com valor superior a 120 reais
    query = '''
    SELECT codcarro, modelo, valor
    FROM carro
    WHERE valor > 120;
    '''
    cursor.execute(query)  # Executando a consulta

    # Armazenando os resultados
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhum carro com valor superior a 120 reais encontrado.")
    else:
        # Convertendo os resultados para um DataFrame do Pandas para exibição
        carros_120 = pd.DataFrame(result, columns=["Código do Carro", "Modelo", "Valor do Aluguel"])

        # Exibindo a tabela Pandas
        print(carros_120)

    # Fechando o cursor e a conexão
    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
   Código do Carro Modelo  Valor do Aluguel
0                2   Argo             150.0
1                3   Onix             170.0
2                4   Polo             150.0

In [ ]:
import mysql.connector
import pandas as pd

# Definição dos parâmetros de conexão
host = '34.170.104.203'
user = 'root'
password = ''
database = 'locadora'

# Função para listar os clientes do sexo feminino
def consulta():
    print("Executando a consulta...")

    # Conectando ao banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para selecionar clientes do sexo feminino
    query = '''
    SELECT codcliente, nome, sexo
    FROM cliente
    WHERE sexo = 'F';
    '''
    cursor.execute(query)
    result = cursor.fetchall()

    if not result:
        print("Nenhum cliente do sexo feminino encontrado.")
    else:
        # Exibindo resultados em formato tabular
        clientes_femininos = pd.DataFrame(result, columns=["Código", "Nome", "Sexo"])
        print(clientes_femininos)

    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
   Código           Nome Sexo
0       1      Ana Silva    F
1       2  Bruna Pereira    F
2       5  Lúcia Andrade    F

In [ ]:
import mysql.connector
import pandas as pd

# Definição dos parâmetros de conexão
host = '34.170.104.203'
user = 'root'
password = ''
database = 'locadora'

# Função para listar os carros da marca com código 3
def consulta():
    print("Executando a consulta...")

    # Conectando ao banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para selecionar carros da marca com código 3
    query = '''
    SELECT codcarro, modelo
    FROM carro
    WHERE codmarca = 3;
    '''
    cursor.execute(query)
    result = cursor.fetchall()

    if not result:
        print("Nenhum carro encontrado para a marca com código 3.")
    else:
        # Exibindo resultados em formato tabular
        carros_marca_3 = pd.DataFrame(result, columns=["Código do Carro", "Modelo"])
        print(carros_marca_3)

    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
   Código do Carro Modelo
0                3   Onix

In [ ]:
import mysql.connector
import pandas as pd

# Definição dos parâmetros de conexão
host = '34.170.104.203'
user = 'root'
password = ''
database = 'locadora'

# Função para listar os clientes que moram em 'Duque de Caxias'
def consulta():
    print("Executando a consulta...")

    # Conectando ao banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para selecionar clientes que moram em 'Duque de Caxias'
    query = '''
    SELECT codcliente, nome, cidade
    FROM cliente
    WHERE cidade = 'Duque de Caxias';
    '''
    cursor.execute(query)
    result = cursor.fetchall()

    if not result:
        print("Nenhum cliente encontrado em Duque de Caxias.")
    else:
        # Exibindo resultados em formato tabular
        clientes_duque_caxias = pd.DataFrame(result, columns=["Código", "Nome", "Cidade"])
        print(clientes_duque_caxias)

    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
   Código              Nome           Cidade
0       1         Ana Silva  Duque de Caxias
1       3  Túlio Nascimento  Duque de Caxias

In [ ]:
import mysql.connector
import pandas as pd

# Definição dos parâmetros de conexão
host = '34.170.104.203'
user = 'root'
password = ''
database = 'locadora'

# Função para listar os aluguéis realizados no dia '2023-04-02'
def consulta():
    print("Executando a consulta...")

    # Conectando ao banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para selecionar aluguéis realizados no dia '2023-04-02'
    query = '''
    SELECT codaluguel, data_aluguel, codcliente, codcarro
    FROM aluguel
    WHERE data_aluguel = '2023-04-02';
    '''
    cursor.execute(query)
    result = cursor.fetchall()

    if not result:
        print("Nenhum aluguel encontrado no dia 2023-04-02.")
    else:
        # Exibindo resultados em formato tabular
        alugueis_02_04 = pd.DataFrame(result, columns=["Código do Aluguel", "Data do Aluguel", "Código do Cliente", "Código do Carro"])
        print(alugueis_02_04)

    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
   Código do Aluguel Data do Aluguel  Código do Cliente  Código do Carro
0                  2      2023-04-02                  2                1

In [ ]:
import mysql.connector

# Definição dos parâmetros de conexão
host = '34.170.104.203'
user = 'root'
password = ''
database = 'locadora'

# Função para listar as colunas da tabela cliente
def verifica_colunas():
    print("Verificando as colunas da tabela cliente...")

    # Conectando ao banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta para verificar as colunas da tabela cliente
    query = "DESCRIBE cliente;"
    cursor.execute(query)
    result = cursor.fetchall()

    for row in result:
        print(row)

    cursor.close()
    connection.close()

# Chamada da função para verificar as colunas
verifica_colunas()

Verificando as colunas da tabela cliente...
('codcliente', 'int', 'NO', 'PRI', None, '')
('nome', 'varchar(50)', 'YES', '', None, '')
('cidade', 'varchar(50)', 'YES', '', None, '')
('sexo', 'char(1)', 'YES', '', None, '')
('estado', 'char(2)', 'YES', '', None, '')
('estadocivil', 'char(1)', 'YES', '', None, '')

In [ ]:
import mysql.connector
import pandas as pd

# Definição dos parâmetros de conexão
host = '34.170.104.203'
user = 'root'
password = ''
database = 'locadora'

# Função para listar carros com valor igual a 150 reais
def consulta():
    print("Executando a consulta...")

    # Conectando ao banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Consulta SQL para listar carros com valor igual a 150 reais
    query = '''
    SELECT codcarro, modelo, valor
    FROM carro
    WHERE valor = 150;
    '''
    cursor.execute(query)
    result = cursor.fetchall()

    if not result:
        print("Nenhum carro com valor igual a 150 reais encontrado.")
    else:
        # Exibindo resultados em formato tabular
        carros_150 = pd.DataFrame(result, columns=["Código do Carro", "Modelo", "Valor"])

        print(carros_150)

    cursor.close()
    connection.close()

# Chamada da função para executar a consulta
consulta()

Executando a consulta...
   Código do Carro Modelo  Valor
0                2   Argo  150.0
1                4   Polo  150.0

In [ ]:
import mysql.connector
import pandas as pd

# Definição dos parâmetros de conexão
host = '34.170.104.203'
user = 'root'
password = ''
database = 'locadora'

# Função para executar consultas com base na consulta desejada
def consulta(query):
    print("Executando a consulta...")

    # Conectando ao banco de dados
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    cursor = connection.cursor()

    # Executando a consulta SQL
    cursor.execute(query)
    result = cursor.fetchall()

    # Se não houver resultados
    if not result:
        print("Nenhum dado encontrado.")
    else:
        # Exibindo resultados em formato tabular
        columns = [col[0] for col in cursor.description]  # Nome das colunas
        data = pd.DataFrame(result, columns=columns)
        print(data)

    cursor.close()
    connection.close()

# Exemplo de consulta: "Exibir os aluguéis feitos pelo cliente de código 1"
consulta_19 = '''
SELECT * FROM aluguel
WHERE codcliente = 1;
'''

# Chamada da função para a consulta específica (passando a consulta como argumento)
consulta(consulta_19)

Executando a consulta...
   codaluguel  codcliente  codcarro data_aluguel
0           5           1         4   2023-04-05
1           6           1         4   2023-04-13
2           7           1         1   2023-04-15

20. Mostre todos os carros que não são do modelo 'Ka'.

In [ ]:
consulta_20 = '''
SELECT * FROM carro
WHERE modelo != 'Ka';
'''

# Chamada da função passando a consulta
consulta(consulta_20)

Executando a consulta...
   codcarro  codmarca modelo  valor
0         2         2   Argo  150.0
1         3         3   Onix  170.0
2         4         4   Polo  150.0
3         5         5   Kwid  120.0

DISTINCT

In [ ]:
'''
A cláusula DISTINCT é usada para remover valores duplicados dos resultados de
uma consulta. Quando você quer listar apenas valores únicos de uma ou mais
colunas, o DISTINCT entra em ação.

Sintaxe:
SELECT DISTINCT coluna1, coluna2, ...
FROM nome_da_tabela;


Como funciona:
O DISTINCT compara os valores das colunas selecionadas.
Se houver registros iguais nessas colunas, somente um será retornado.
Ele pode ser usado com uma ou mais colunas.
'''

In [ ]:
consulta_21 = '''
SELECT DISTINCT cidade FROM cliente;
'''

# Chamada da função passando a consulta
consulta(consulta_21)

Executando a consulta...
            cidade
0  Duque de Caxias
1          Niterói
2         Campinas
3        São Paulo

In [ ]:
consulta_22 = '''
SELECT DISTINCT estado FROM cliente;
'''

# Chamada da função passando a consulta
consulta(consulta_22)

Executando a consulta...
  estado
0     RJ
1     SP

In [ ]:
consulta_23 = '''
SELECT DISTINCT codcliente FROM aluguel;
'''

# Chamada da função passando a consulta
consulta(consulta_23)

Executando a consulta...
   codcliente
0           1
1           2
2           3
3           5

In [ ]:
consulta_24 = '''
SELECT DISTINCT valor FROM carro;
'''

# Chamada da função passando a consulta
consulta(consulta_24)

Executando a consulta...
   valor
0  100.0
1  150.0
2  170.0
3  120.0

In [ ]:
consulta_25 = '''
SELECT DISTINCT codcarro FROM aluguel;
'''

# Chamada da função passando a consulta
consulta(consulta_25)

Executando a consulta...
   codcarro
0         1
1         2
2         3
3         4

In [ ]:
consulta_26 = '''
SELECT DISTINCT estadocivil FROM cliente;
'''

# Chamada da função passando a consulta
consulta(consulta_26)

Executando a consulta...
  estadocivil
0           C
1           S

In [ ]:
consulta_27 = '''
SELECT DISTINCT marca FROM marca;
'''

# Chamada da função passando a consulta
consulta(consulta_27)

Executando a consulta...
        marca
0        Ford
1        Fiat
2   Chevrolet
3  Volkswagen
4     Renault

In [ ]:
consulta_28 = '''
SELECT DISTINCT sexo FROM cliente;
'''

# Chamada da função passando a consulta
consulta(consulta_28)

Executando a consulta...
  sexo
0    F
1    M

In [ ]:
consulta_29 = '''
SELECT DISTINCT data_aluguel FROM aluguel;
'''

# Chamada da função passando a consulta
consulta(consulta_29)

Executando a consulta...
  data_aluguel
0   2023-04-01
1   2023-04-02
2   2023-04-03
3   2023-04-04
4   2023-04-05
5   2023-04-13
6   2023-04-15
7   2023-04-19
8   2023-04-21
9   2023-04-25

ORDER BY

In [ ]:
'''
A cláusula ORDER BY é usada para ordenar os resultados de uma consulta SQL com
base em uma ou mais colunas. Você pode ordenar em ordem crescente (ASC) ou
decrescente (DESC).

Sintaxe:
SELECT coluna1, coluna2, ...
FROM nome_da_tabela
ORDER BY coluna1 [ASC | DESC], coluna2 [ASC | DESC], ...;

Como funciona:
ORDER BY: Indica que os resultados devem ser ordenados.
ASC (opcional): Ordem crescente (do menor para o maior) – é o padrão.
DESC: Ordem decrescente (do maior para o menor).
'''

In [ ]:
consulta_30 = '''
SELECT * FROM cliente
ORDER BY nome ASC;
'''

# Chamada da função passando a consulta
consulta(consulta_30)

Executando a consulta...
   codcliente              nome           cidade sexo estado estadocivil
0           1         Ana Silva  Duque de Caxias    F     RJ           C
1           2     Bruna Pereira          Niterói    F     RJ           C
2           4    Fernando Souza         Campinas    M     SP           S
3           5     Lúcia Andrade        São Paulo    F     SP           C
4           3  Túlio Nascimento  Duque de Caxias    M     RJ           S

In [ ]:
consulta_31 = '''
SELECT * FROM carro
ORDER BY valor ASC;
'''

# Chamada da função passando a consulta
consulta(consulta_31)

Executando a consulta...
   codcarro  codmarca modelo  valor
0         1         1     Ka  100.0
1         5         5   Kwid  120.0
2         2         2   Argo  150.0
3         4         4   Polo  150.0
4         3         3   Onix  170.0

In [ ]:
consulta_32 = '''
SELECT * FROM aluguel
ORDER BY data_aluguel DESC;
'''

# Chamada da função passando a consulta
consulta(consulta_32)

Executando a consulta...
   codaluguel  codcliente  codcarro data_aluguel
0          10           3         1   2023-04-25
1           9           5         2   2023-04-21
2           8           5         2   2023-04-19
3           7           1         1   2023-04-15
4           6           1         4   2023-04-13
5           5           1         4   2023-04-05
6           4           2         3   2023-04-04
7           3           2         1   2023-04-03
8           2           2         1   2023-04-02
9           1           3         2   2023-04-01

In [ ]:
consulta_33 = '''
SELECT * FROM cliente
ORDER BY estado ASC, nome ASC;
'''

# Chamada da função passando a consulta
consulta(consulta_33)

Executando a consulta...
   codcliente              nome           cidade sexo estado estadocivil
0           1         Ana Silva  Duque de Caxias    F     RJ           C
1           2     Bruna Pereira          Niterói    F     RJ           C
2           3  Túlio Nascimento  Duque de Caxias    M     RJ           S
3           4    Fernando Souza         Campinas    M     SP           S
4           5     Lúcia Andrade        São Paulo    F     SP           C

In [ ]:
consulta_34 = '''
SELECT modelo, valor
FROM carro
ORDER BY valor DESC;
'''

# Chamada da função passando a consulta
consulta(consulta_34)

Executando a consulta...
  modelo  valor
0   Onix  170.0
1   Argo  150.0
2   Polo  150.0
3   Kwid  120.0
4     Ka  100.0

LIKE

In [ ]:
'''
A cláusula LIKE é usada para filtrar dados com base em padrões de texto. Ela é
muito útil quando você quer encontrar valores que contêm, começam ou terminam
com determinadas letras ou palavras, em vez de uma correspondência exata.

Sintaxe:
SELECT coluna1, coluna2, ...
FROM nome_da_tabela
WHERE coluna LIKE 'padrão';


Caracteres curingas (wildcards) do LIKE
1. % → Qualquer sequência de caracteres (inclusive nenhum)
Esse caractere coringa substitui zero ou mais caracteres.

Exemplos:
LIKE 'A%'
→ Começa com A, seguido de qualquer coisa (ou nada).
Combina com: Ana, Amanda, Arthur, A.

LIKE '%ar'
→ Termina com ar, pode ter qualquer coisa antes.
Combina com: César, Omar, Bazar.

LIKE '%an%'
→ Contém a sequência an em qualquer posição.
Combina com: André, Fernando, Amanda.

LIKE '%'
→ Traz todos os valores, pois % sozinho representa qualquer coisa (ou nada).

2. _ (underline) → Exatamente um único caractere qualquer
Esse caractere coringa substitui um e apenas um caractere.

🧠 Exemplos:
LIKE '_ar'
→ Três letras, sendo qualquer coisa na primeira, depois a e r.
Combina com: Car, Bar, Par.
Não combina com: César, Mar, ar.

LIKE 'A__'
→ Começa com A e tem exatamente 3 caracteres no total.
Combina com: Ana, Ava, Amy.
Não combina com: Amanda, Al.

LIKE '__a%'
→ Os dois primeiros caracteres podem ser qualquer um, o terceiro deve ser a, e
depois pode ter qualquer coisa.
Combina com: Ana, Luca, Branca, Omar.

Observações importantes:
LIKE é case-insensitive na maioria dos bancos de dados (ex: MySQL), mas
case-sensitive em alguns (como PostgreSQL, a menos que se use ILIKE).
Pode ser mais lento em grandes volumes de dados, especialmente com padrões que
começam com %.
'''

In [ ]:
consulta_35 = '''
SELECT nome
FROM cliente
WHERE nome LIKE 'A%';
'''

# Chamada da função passando a consulta
consulta(consulta_35)

Executando a consulta...
        nome
0  Ana Silva

In [ ]:
consulta_36 = '''
SELECT modelo
FROM carro
WHERE modelo LIKE '%a';
'''

# Chamada da função passando a consulta
consulta(consulta_36)

Executando a consulta...
  modelo
0     Ka

In [ ]:
consulta_37 = '''
SELECT nome
FROM cliente
WHERE nome LIKE '%Silva%';
'''

# Chamada da função passando a consulta
consulta(consulta_37)

Executando a consulta...
        nome
0  Ana Silva

In [ ]:
consulta_38 = '''
SELECT modelo
FROM carro
WHERE modelo LIKE '%o%';
'''

# Chamada da função passando a consulta
consulta(consulta_38)

Executando a consulta...
  modelo
0   Argo
1   Onix
2   Polo

In [ ]:
consulta_39 = '''
SELECT nome
FROM cliente
WHERE nome LIKE '_____';
'''

# Chamada da função passando a consulta
consulta(consulta_39)

Executando a consulta...
Nenhum dado encontrado.

IN

In [ ]:
'''
A cláusula IN é usada dentro da cláusula WHERE para filtrar registros que
correspondem a um ou mais valores de uma lista específica. É uma forma mais
limpa e legível de escrever múltiplas comparações com OR.

Sintaxe:
SELECT coluna1, coluna2, ...
FROM nome_da_tabela
WHERE coluna IN (valor1, valor2, valor3, ...);


'''

In [ ]:
consulta_40 = '''
SELECT nome, cidade
FROM cliente
WHERE cidade IN ('São Paulo', 'Campinas');
'''

# Chamada da função passando a consulta
consulta(consulta_40)

Executando a consulta...
             nome     cidade
0  Fernando Souza   Campinas
1   Lúcia Andrade  São Paulo

In [ ]:
consulta_41 = '''
SELECT *
FROM carro
WHERE codmarca IN (2, 4);
'''

# Chamada da função passando a consulta
consulta(consulta_41)

Executando a consulta...
   codcarro  codmarca modelo  valor
0         2         2   Argo  150.0
1         4         4   Polo  150.0

In [ ]:
consulta_42 = '''
SELECT *
FROM aluguel
WHERE codcliente IN (1, 3, 5);
'''

# Chamada da função passando a consulta
consulta(consulta_42)

Executando a consulta...
   codaluguel  codcliente  codcarro data_aluguel
0           5           1         4   2023-04-05
1           6           1         4   2023-04-13
2           7           1         1   2023-04-15
3           1           3         2   2023-04-01
4          10           3         1   2023-04-25
5           8           5         2   2023-04-19
6           9           5         2   2023-04-21

In [ ]:
consulta_43 = '''
SELECT *
FROM carro
WHERE valor IN (100, 150, 170);
'''

# Chamada da função passando a consulta
consulta(consulta_43)

Executando a consulta...
   codcarro  codmarca modelo  valor
0         1         1     Ka  100.0
1         2         2   Argo  150.0
2         3         3   Onix  170.0
3         4         4   Polo  150.0

In [ ]:
'''
44. Liste os clientes que estão nos estados 'RJ' e 'SP'.



'''

In [ ]:
consulta_44 = '''
SELECT *
FROM cliente
WHERE estado IN ('RJ', 'SP');
'''

# Chamada da função passando a consulta
consulta(consulta_44)

Executando a consulta...
   codcliente              nome           cidade sexo estado estadocivil
0           1         Ana Silva  Duque de Caxias    F     RJ           C
1           2     Bruna Pereira          Niterói    F     RJ           C
2           3  Túlio Nascimento  Duque de Caxias    M     RJ           S
3           4    Fernando Souza         Campinas    M     SP           S
4           5     Lúcia Andrade        São Paulo    F     SP           C

BETWEEN

In [ ]:
'''
A cláusula BETWEEN é usada na cláusula WHERE para filtrar os resultados dentro
de um intervalo de valores. Esse intervalo pode ser de números, datas ou até
textos (em ordem alfabética).

Sintaxe:
SELECT coluna1, coluna2, ...
FROM nome_da_tabela
WHERE coluna BETWEEN valor_inicial AND valor_final;

'''

In [ ]:
'''
45. Liste os carros com valor entre 120 e 160 reais.



'''

In [ ]:
consulta_45 = '''
SELECT *
FROM carro
WHERE valor BETWEEN 120 AND 160;
'''

# Chamada da função passando a consulta
consulta(consulta_45)

Executando a consulta...
   codcarro  codmarca modelo  valor
0         2         2   Argo  150.0
1         4         4   Polo  150.0
2         5         5   Kwid  120.0

In [ ]:
'''
46. Mostre os aluguéis realizados entre '2023-04-01' e '2023-04-10'.



'''

In [ ]:
consulta_46 = '''
SELECT *
FROM aluguel
WHERE data_aluguel BETWEEN '2023-04-01' AND '2023-04-10';
'''

# Chamada da função passando a consulta
consulta(consulta_46)

Executando a consulta...
   codaluguel  codcliente  codcarro data_aluguel
0           1           3         2   2023-04-01
1           2           2         1   2023-04-02
2           3           2         1   2023-04-03
3           4           2         3   2023-04-04
4           5           1         4   2023-04-05

In [ ]:
'''
47. Exiba os carros cujo código está entre 2 e 4.



'''

In [ ]:
consulta_47 = '''
SELECT *
FROM carro
WHERE codcarro BETWEEN 2 AND 4;
'''

# Chamada da função passando a consulta
consulta(consulta_47)

Executando a consulta...
   codcarro  codmarca modelo  valor
0         2         2   Argo  150.0
1         3         3   Onix  170.0
2         4         4   Polo  150.0

In [ ]:
'''
48. Mostre os clientes com código entre 2 e 4.



'''

In [ ]:
consulta_48 = '''
SELECT *
FROM cliente
WHERE codcliente BETWEEN 2 AND 4;
'''

# Chamada da função passando a consulta
consulta(consulta_48)

Executando a consulta...
   codcliente              nome           cidade sexo estado estadocivil
0           2     Bruna Pereira          Niterói    F     RJ           C
1           3  Túlio Nascimento  Duque de Caxias    M     RJ           S
2           4    Fernando Souza         Campinas    M     SP           S

In [ ]:
'''
49. Liste os carros com valores entre 100 e 150 reais, inclusive.



'''

In [ ]:
consulta_49 = '''
SELECT *
FROM carro
WHERE valor BETWEEN 100 AND 150;
'''

# Chamada da função passando a consulta
consulta(consulta_49)

Executando a consulta...
   codcarro  codmarca modelo  valor
0         1         1     Ka  100.0
1         2         2   Argo  150.0
2         4         4   Polo  150.0
3         5         5   Kwid  120.0

AGREGAÇÃO

In [ ]:
'''
As funções de agregação em SQL são usadas para realizar cálculos sobre um
conjunto de valores, geralmente em uma ou mais colunas, e retornar um único
resultado. Elas são muito utilizadas em relatórios, análises e resumos de dados.

Principais funções de agregação:
Função	  O que faz
COUNT()	  Conta o número de registros
SUM()	    Soma os valores numéricos de uma coluna
AVG()	    Calcula a média dos valores
MAX()	    Retorna o maior valor
MIN()	    Retorna o menor valor

Sintaxe:
SELECT FUNÇÃO_AGREGACAO(coluna)
FROM nome_da_tabela;

'''

In [ ]:
'''
50. Conte quantos clientes estão cadastrados no sistema.



'''

In [ ]:
consulta_50 = '''
SELECT COUNT(*)
FROM cliente;
'''

# Chamada da função passando a consulta
consulta(consulta_50)

Executando a consulta...
   COUNT(*)
0         5

In [ ]:
'''
51. Conte quantos carros existem na tabela carro.



'''

In [ ]:

consulta_51 = '''
SELECT COUNT(*)
FROM carro;
'''

# Chamada da função passando a consulta
consulta(consulta_51)

Executando a consulta...
   COUNT(*)
0         5

In [ ]:
'''
52. Calcule o valor médio dos carros cadastrados.



'''

In [ ]:
consulta_52 = '''
SELECT AVG(valor)
FROM carro;
'''

# Chamada da função passando a consulta
consulta(consulta_52)

Executando a consulta...
   AVG(valor)
0       138.0

In [ ]:
'''
53. Encontre o valor mais caro entre os carros cadastrados.



'''

In [ ]:
consulta_53 = '''
SELECT MAX(valor)
FROM carro;
'''

# Chamada da função passando a consulta
consulta(consulta_53)

Executando a consulta...
   MAX(valor)
0       170.0

In [ ]:
'''
54. Encontre o valor mais barato entre os carros cadastrados.



'''

In [ ]:
consulta_54 = '''
SELECT MIN(valor)
FROM carro;
'''

# Chamada da função passando a consulta
consulta(consulta_54)

Executando a consulta...
   MIN(valor)
0       100.0

In [ ]:
'''
55. Conte quantos aluguéis foram realizados no total.



'''

In [ ]:
consulta_55 = '''
SELECT COUNT(*)
FROM aluguel;
'''

# Chamada da função passando a consulta
consulta(consulta_55)

Executando a consulta...
   COUNT(*)
0        10

In [ ]:
'''
56. Calcule a soma total dos valores dos carros cadastrados.



'''

In [ ]:
consulta_56 = '''
SELECT SUM(valor)
FROM carro;
'''

# Chamada da função passando a consulta
consulta(consulta_56)

Executando a consulta...
   SUM(valor)
0       690.0

In [ ]:
'''
57. Calcule a média de caracteres nos nomes dos clientes (apenas como curiosidade
de uso com CHAR_LENGTH).



'''

In [ ]:
consulta_57 = '''
SELECT AVG(CHAR_LENGTH(nome))
FROM cliente;
'''

# Chamada da função passando a consulta
consulta(consulta_57)

Executando a consulta...
  AVG(CHAR_LENGTH(nome))
0                13.0000

In [ ]:
'''
58. Conte quantos clientes são do sexo feminino.



'''

In [ ]:
consulta_58 = '''
SELECT COUNT(*)
FROM cliente
WHERE sexo = 'F';
'''

# Chamada da função passando a consulta
consulta(consulta_58)

Executando a consulta...
   COUNT(*)
0         3

In [ ]:
'''
59. Conte quantos aluguéis foram feitos no mês de abril (considerando apenas ano e mês)



'''

In [ ]:
consulta_59 = '''
SELECT COUNT(*)
FROM aluguel
WHERE DATE_FORMAT(data_aluguel, '%Y-%m') = '2023-04';
'''

# Chamada da função passando a consulta
consulta(consulta_59)

Executando a consulta...
   COUNT(*)
0        10

GROUP BY

In [ ]:
'''
A cláusula GROUP BY é usada para agrupar os resultados de uma consulta com base
nos valores de uma ou mais colunas. Ela é geralmente usada junto com funções de
agregação (SUM, AVG, COUNT, MAX, MIN) para resumir dados por grupo.


SELECT coluna_agrupada, FUNCAO_AGREGACAO(coluna)
FROM nome_da_tabela
GROUP BY coluna_agrupada;

Observações importantes:
Toda coluna que não está em uma função de agregação deve obrigatoriamente
estar no GROUP BY.

Errado:
SELECT nome, AVG(salario) FROM funcionarios; -- ERRO!

Certo:
SELECT departamento, AVG(salario) FROM funcionarios
GROUP BY departamento;
A cláusula GROUP BY vem depois do WHERE e antes do ORDER BY, se forem usadas
juntas.



'''

In [ ]:
'''
60. Conte quantos clientes existem por estado.



'''

In [ ]:
consulta_60 = '''
SELECT estado, COUNT(*)
FROM cliente
GROUP BY estado;
'''

# Chamada da função passando a consulta
consulta(consulta_60)

Executando a consulta...
  estado  COUNT(*)
0     RJ         3
1     SP         2

In [ ]:
'''
61. Mostre a quantidade de clientes por cidade.



'''

In [ ]:
consulta_61 = '''
SELECT cidade, COUNT(*)
FROM cliente
GROUP BY cidade;
'''

# Chamada da função passando a consulta
consulta(consulta_61)

Executando a consulta...
            cidade  COUNT(*)
0  Duque de Caxias         2
1          Niterói         1
2         Campinas         1
3        São Paulo         1

In [ ]:
'''
62. Liste quantos carros há por marca.



'''

In [ ]:
consulta_62 = '''
SELECT marca.marca, COUNT(carro.codcarro) AS quantidade_carros
FROM carro
JOIN marca ON carro.codmarca = marca.codmarca
GROUP BY marca.marca;
'''

# Chamada da função passando a consulta
consulta(consulta_62)

Executando a consulta...
        marca  quantidade_carros
0        Ford                  1
1        Fiat                  1
2   Chevrolet                  1
3  Volkswagen                  1
4     Renault                  1

In [ ]:
'''
63. Exiba quantos aluguéis foram feitos por cliente.



'''

In [ ]:
consulta_63 = '''
SELECT cliente.codcliente, cliente.nome, COUNT(aluguel.codaluguel) AS quantidade_alugueis
FROM cliente
JOIN aluguel ON cliente.codcliente = aluguel.codcliente
GROUP BY cliente.codcliente;
'''

# Chamada da função passando a consulta
consulta(consulta_63)

Executando a consulta...
   codcliente              nome  quantidade_alugueis
0           1         Ana Silva                    3
1           2     Bruna Pereira                    3
2           3  Túlio Nascimento                    2
3           5     Lúcia Andrade                    2

In [ ]:
'''
64. Mostre quantos aluguéis cada carro recebeu.



'''

In [ ]:
consulta_64 = '''
SELECT carro.codcarro, carro.modelo, COUNT(aluguel.codaluguel) AS quantidade_alugueis
FROM carro
JOIN aluguel ON carro.codcarro = aluguel.codcarro
GROUP BY carro.codcarro;
'''

# Chamada da função passando a consulta
consulta(consulta_64)

Executando a consulta...
   codcarro modelo  quantidade_alugueis
0         1     Ka                    4
1         2   Argo                    3
2         3   Onix                    1
3         4   Polo                    2

HAVING

In [ ]:
'''
Cláusula HAVING em SQL
A cláusula HAVING é usada para filtrar os resultados depois do agrupamento
feito com GROUP BY. Ou seja, enquanto o WHERE filtra linhas individuais, o
HAVING filtra grupos.

Quando usar HAVING?
Você usa HAVING junto com funções de agregação (SUM, AVG, COUNT, etc.) para
manter apenas os grupos que atendem a uma condição específica.

SELECT coluna_agrupada, FUNCAO_AGREGACAO(coluna)
FROM nome_da_tabela
GROUP BY coluna_agrupada
HAVING condição_sobre_o_grupo;


'''

In [ ]:
'''
65. Liste as cidades com mais de 1 cliente cadastrado.



'''

In [ ]:
consulta_65 = '''
SELECT cidade, COUNT(*) AS quantidade_clientes
FROM cliente
GROUP BY cidade
HAVING COUNT(*) > 1;
'''

# Chamada da função passando a consulta
consulta(consulta_65)

Executando a consulta...
            cidade  quantidade_clientes
0  Duque de Caxias                    2

In [ ]:
'''
66. Mostre os clientes que fizeram mais de 2 aluguéis.



'''

In [ ]:
consulta_66 = '''
SELECT c.codcliente, c.nome, COUNT(a.codaluguel) AS total_alugueis
FROM cliente c
JOIN aluguel a ON c.codcliente = a.codcliente
GROUP BY c.codcliente, c.nome
HAVING COUNT(a.codaluguel) > 2;
'''

# Chamada da função passando a consulta
consulta(consulta_66)

Executando a consulta...
   codcliente           nome  total_alugueis
0           1      Ana Silva               3
1           2  Bruna Pereira               3

In [ ]:
'''
67. Exiba as marcas que possuem mais de 1 modelo de carro.



'''

In [ ]:
consulta_67 = '''
SELECT m.codmarca, m.marca, COUNT(c.codcarro) AS total_modelos
FROM marca m
JOIN carro c ON m.codmarca = c.codmarca
GROUP BY m.codmarca, m.marca
HAVING COUNT(c.codcarro) > 1;
'''

# Chamada da função passando a consulta
consulta(consulta_67)

Executando a consulta...
Nenhum dado encontrado.

In [ ]:
'''
68. Mostre os carros que foram alugados mais de uma vez.



'''

In [ ]:
consulta_68 = '''
SELECT c.codcarro, c.modelo, COUNT(a.codaluguel) AS total_alugueis
FROM carro c
JOIN aluguel a ON c.codcarro = a.codcarro
GROUP BY c.codcarro, c.modelo
HAVING COUNT(a.codaluguel) > 1;
'''

# Chamada da função passando a consulta
consulta(consulta_68)

Executando a consulta...
   codcarro modelo  total_alugueis
0         1     Ka               4
1         2   Argo               3
2         4   Polo               2

In [ ]:
'''
69. Liste os estados com mais de 2 clientes cadastrados.



'''

In [ ]:
consulta_69 = '''
SELECT estado, COUNT(*) AS total_clientes
FROM cliente
GROUP BY estado
HAVING COUNT(*) > 2;
'''

# Chamada da função passando a consulta
consulta(consulta_69)

Executando a consulta...
  estado  total_clientes
0     RJ               3

CASE WHEN

In [ ]:
'''
A cláusula CASE WHEN funciona como uma estrutura condicional, parecida com um
IF ou SE em outras linguagens. Ela permite criar colunas calculadas com base em
condições dentro da consulta SQL.

Sintaxe:

SELECT
  coluna1,
  CASE
    WHEN condição1 THEN resultado1
    WHEN condição2 THEN resultado2
    ...
    ELSE resultado_padrão
  END AS nome_da_coluna
FROM nome_da_tabela;

'''

In [ ]:
'''
70. Liste os clientes e classifique o sexo como 'Feminino' ou 'Masculino'.



'''

In [ ]:
consulta_70 = '''
SELECT nome,
       CASE
           WHEN sexo = 'F' THEN 'Feminino'
           WHEN sexo = 'M' THEN 'Masculino'
           ELSE 'Outro'
       END AS sexo
FROM cliente;
'''

# Chamada da função passando a consulta
consulta(consulta_70)

Executando a consulta...
               nome       sexo
0         Ana Silva   Feminino
1     Bruna Pereira   Feminino
2  Túlio Nascimento  Masculino
3    Fernando Souza  Masculino
4     Lúcia Andrade   Feminino

In [ ]:
'''
71. Mostre os carros e classifique o valor: 'Econômico' até 120, 'Padrão' até 150, 'Premium' acima de 150.


'''

In [ ]:
consulta_71 = '''
SELECT modelo, valor,
       CASE
           WHEN valor <= 120 THEN 'Econômico'
           WHEN valor <= 150 THEN 'Padrão'
           ELSE 'Premium'
       END AS classificacao
FROM carro;
'''

# Chamada da função passando a consulta
consulta(consulta_71)

Executando a consulta...
  modelo  valor classificacao
0     Ka  100.0     Econômico
1   Argo  150.0        Padrão
2   Onix  170.0       Premium
3   Polo  150.0        Padrão
4   Kwid  120.0     Econômico

In [ ]:
'''
72. Liste os clientes com uma coluna adicional dizendo 'Casado(a)' se o estado civil for 'C', e 'Solteiro(a)' se for 'S'.



'''

In [ ]:
consulta_72 = '''
SELECT nome,
       cidade,
       sexo,
       CASE
           WHEN estadocivil = 'C' THEN 'Casado(a)'
           WHEN estadocivil = 'S' THEN 'Solteiro(a)'
           ELSE 'Outro'
       END AS estado_civil
FROM cliente;
'''

# Chamada da função passando a consulta
consulta(consulta_72)

Executando a consulta...
               nome           cidade sexo estado_civil
0         Ana Silva  Duque de Caxias    F    Casado(a)
1     Bruna Pereira          Niterói    F    Casado(a)
2  Túlio Nascimento  Duque de Caxias    M  Solteiro(a)
3    Fernando Souza         Campinas    M  Solteiro(a)
4     Lúcia Andrade        São Paulo    F    Casado(a)

In [ ]:
'''
73. Exiba os aluguéis com uma coluna dizendo 'Início do mês' se a data for entre
os dias 1 e 10, e 'Final do mês' se for entre 21 e 31.



'''

In [ ]:

consulta_73 = '''
SELECT codaluguel,
       codcliente,
       codcarro,
       data_aluguel,
       CASE
           WHEN DAY(data_aluguel) BETWEEN 1 AND 10 THEN 'Início do mês'
           WHEN DAY(data_aluguel) BETWEEN 21 AND 31 THEN 'Final do mês'
           ELSE 'Meio do mês'
       END AS periodo_aluguel
FROM aluguel;
'''

# Chamada da função passando a consulta
consulta(consulta_73)

Executando a consulta...
   codaluguel  codcliente  codcarro data_aluguel periodo_aluguel
0           1           3         2   2023-04-01   Início do mês
1           2           2         1   2023-04-02   Início do mês
2           3           2         1   2023-04-03   Início do mês
3           4           2         3   2023-04-04   Início do mês
4           5           1         4   2023-04-05   Início do mês
5           6           1         4   2023-04-13     Meio do mês
6           7           1         1   2023-04-15     Meio do mês
7           8           5         2   2023-04-19     Meio do mês
8           9           5         2   2023-04-21    Final do mês
9          10           3         1   2023-04-25    Final do mês

In [ ]:
'''
74. Liste os modelos de carro com uma classificação: 'Popular' para carros da
Renault e Fiat, 'Tradicional' para Ford e Volkswagen, e 'Outro' para os demais.



'''

In [ ]:
consulta_74 = '''
SELECT c.modelo,
       CASE
           WHEN m.marca IN ('Renault', 'Fiat') THEN 'Popular'
           WHEN m.marca IN ('Ford', 'Volkswagen') THEN 'Tradicional'
           ELSE 'Outro'
       END AS classificacao
FROM carro c
JOIN marca m ON c.codmarca = m.codmarca;
'''

# Chamada da função passando a consulta
consulta(consulta_74)

Executando a consulta...
  modelo classificacao
0     Ka   Tradicional
1   Argo       Popular
2   Onix         Outro
3   Polo   Tradicional
4   Kwid       Popular

JOINS

In [ ]:
'''
A cláusula JOIN é usada para combinar registros de duas ou mais tabelas com
base em uma condição lógica — normalmente a igualdade entre colunas que têm uma
relação, como chaves primárias e estrangeiras.

SELECT tabela1.coluna, tabela2.coluna
FROM tabela1
JOIN tabela2
ON tabela1.coluna_relacionada = tabela2.coluna_relacionada;



Tipos principais de JOIN:
Tipo de JOIN	O que faz
INNER JOIN	  Retorna apenas os registros que têm correspondência em ambas as
              tabelas
LEFT JOIN	    Retorna todos os registros da tabela da esquerda e os que casam
              da direita (ou NULL se não houver)
RIGHT JOIN	  Retorna todos os registros da tabela da direita e os que casam
              da esquerda (ou NULL se não houver)
OUTER JOIN	  Retorna todos os registros, com ou sem correspondência, das duas
              tabelas (nem todos os bancos suportam nativamente)

'''

In [ ]:
'''
75. Liste os nomes dos clientes e os modelos dos carros que eles alugaram.



'''

In [ ]:
consulta_75 = '''
SELECT c.nome AS cliente, car.modelo AS carro
FROM aluguel a
JOIN cliente c ON a.codcliente = c.codcliente
JOIN carro car ON a.codcarro = car.codcarro;
'''

# Chamada da função passando a consulta
consulta(consulta_75)

Executando a consulta...
            cliente carro
0  Túlio Nascimento  Argo
1     Bruna Pereira    Ka
2     Bruna Pereira    Ka
3     Bruna Pereira  Onix
4         Ana Silva  Polo
5         Ana Silva  Polo
6         Ana Silva    Ka
7     Lúcia Andrade  Argo
8     Lúcia Andrade  Argo
9  Túlio Nascimento    Ka

In [ ]:
'''
76. Exiba o nome do cliente, o modelo do carro e a data do aluguel.



'''

In [ ]:
consulta_76 = '''
SELECT c.nome AS cliente, car.modelo AS carro, a.data_aluguel AS data
FROM aluguel a
JOIN cliente c ON a.codcliente = c.codcliente
JOIN carro car ON a.codcarro = car.codcarro;
'''

# Chamada da função passando a consulta
consulta(consulta_76)

Executando a consulta...
            cliente carro        data
0  Túlio Nascimento  Argo  2023-04-01
1     Bruna Pereira    Ka  2023-04-02
2     Bruna Pereira    Ka  2023-04-03
3     Bruna Pereira  Onix  2023-04-04
4         Ana Silva  Polo  2023-04-05
5         Ana Silva  Polo  2023-04-13
6         Ana Silva    Ka  2023-04-15
7     Lúcia Andrade  Argo  2023-04-19
8     Lúcia Andrade  Argo  2023-04-21
9  Túlio Nascimento    Ka  2023-04-25

In [ ]:
'''
77. Mostre o modelo do carro, a marca e seu valor.



'''

In [ ]:
consulta_77 = '''
SELECT ca.modelo, m.marca, ca.valor
FROM carro ca
JOIN marca m ON ca.codmarca = m.codmarca;
'''

# Chamada da função passando a consulta
consulta(consulta_77)

Executando a consulta...
  modelo       marca  valor
0     Ka        Ford  100.0
1   Argo        Fiat  150.0
2   Onix   Chevrolet  170.0
3   Polo  Volkswagen  150.0
4   Kwid     Renault  120.0

In [ ]:
'''
78. Liste os nomes dos clientes e os nomes das marcas dos carros que eles alugaram.



'''

In [ ]:
consulta_78 = '''
SELECT c.nome AS cliente, m.marca AS marca
FROM cliente c
JOIN aluguel a ON c.codcliente = a.codcliente
JOIN carro ca ON a.codcarro = ca.codcarro
JOIN marca m ON ca.codmarca = m.codmarca;
'''

# Chamada da função passando a consulta
consulta(consulta_78)

Executando a consulta...
            cliente       marca
0     Bruna Pereira        Ford
1     Bruna Pereira        Ford
2         Ana Silva        Ford
3  Túlio Nascimento        Ford
4  Túlio Nascimento        Fiat
5     Lúcia Andrade        Fiat
6     Lúcia Andrade        Fiat
7     Bruna Pereira   Chevrolet
8         Ana Silva  Volkswagen
9         Ana Silva  Volkswagen

VIEWS

In [ ]:
'''
Uma VIEW (ou visão) é uma tabela virtual criada a partir de uma consulta
(SELECT). Ela não armazena os dados fisicamente — apenas a lógica da consulta —
mas permite que você acesse e consulte os dados como se fosse uma tabela real.

Para que serve uma VIEW?
Organizar consultas complexas de forma mais simples.
Reutilizar lógica SQL sem reescrever.
Restringir acesso a certos dados (ex: ocultar colunas sensíveis).
Facilitar o consumo dos dados

CREATE VIEW nome_da_view AS
SELECT coluna1, coluna2, ...
FROM nome_da_tabela
WHERE condição;

Consultando uma View:
SELECT * FROM nome_da_view;


Atualizar ou excluir uma VIEW:
Atualizar (substituir):
CREATE OR REPLACE VIEW nome_da_view AS
SELECT ...;

Excluir (remover):
DROP VIEW nome_da_view;

'''

In [ ]:
'''
79. Crie uma view chamada vw_clientes_rj que contenha os clientes do estado do RJ.



'''

In [ ]:
consulta_79 = '''
CREATE VIEW vw_clientes_rj AS
SELECT *
FROM cliente
WHERE estado = 'RJ';
'''

# Chamada da função passando a consulta
consulta(consulta_79)

Executando a consulta...
Nenhum dado encontrado.

In [ ]:
'''
80. Crie uma view chamada vw_alugueis_detalhados que exibe: nome do cliente,
modelo do carro e data do aluguel.



'''

In [ ]:
consulta_80 = '''
CREATE VIEW vw_alugueis_detalhados AS
SELECT c.nome AS nome_cliente, ca.modelo AS modelo_carro, a.data_aluguel
FROM aluguel a
JOIN cliente c ON a.codcliente = c.codcliente
JOIN carro ca ON a.codcarro = ca.codcarro;
'''

# Chamada da função passando a consulta
consulta(consulta_80)

Executando a consulta...
Nenhum dado encontrado.

SUBCONSULTAS

In [ ]:
'''
81. Liste os clientes que já alugaram o carro mais caro.



'''

In [ ]:
consulta_81 = '''
SELECT c.nome
FROM cliente c
JOIN aluguel a ON c.codcliente = a.codcliente
JOIN carro ca ON a.codcarro = ca.codcarro
WHERE ca.valor = (SELECT MAX(valor) FROM carro);
'''

# Chamada da função passando a consulta
consulta(consulta_81)

Executando a consulta...
            nome
0  Bruna Pereira

In [ ]:
'''
82. Mostre os modelos de carros que nunca foram alugados.


'''

In [ ]:
consulta_82 = '''
SELECT ca.modelo
FROM carro ca
LEFT JOIN aluguel a ON ca.codcarro = a.codcarro
WHERE a.codcarro IS NULL;
'''

# Chamada da função passando a consulta
consulta(consulta_82)

Executando a consulta...
  modelo
0   Kwid

In [ ]:
'''
83. Use uma CTE para calcular quantos aluguéis cada cliente fez e mostre
apenas os que fizeram mais de 2 aluguéis.


'''

In [ ]:
consulta_83 = '''
WITH AlugueisPorCliente AS (
    SELECT codcliente, COUNT(*) AS total_alugueis
    FROM aluguel
    GROUP BY codcliente
)
SELECT c.nome, a.total_alugueis
FROM AlugueisPorCliente a
JOIN cliente c ON a.codcliente = c.codcliente
WHERE a.total_alugueis > 2;
'''

# Chamada da função passando a consulta
consulta(consulta_83)

Executando a consulta...
            nome  total_alugueis
0      Ana Silva               3
1  Bruna Pereira               3

In [ ]:
'''
84. Use uma CTE para calcular a média de valor dos carros e listar apenas os que
 estão acima da média.



'''

In [ ]:
consulta_84 = '''
WITH MediaCarros AS (
    SELECT AVG(valor) AS media_valor
    FROM carro
)
SELECT ca.modelo, ca.valor
FROM carro ca, MediaCarros mc
WHERE ca.valor > mc.media_valor;
'''

# Chamada da função passando a consulta
consulta(consulta_84)

Executando a consulta...
  modelo  valor
0   Argo  150.0
1   Onix  170.0
2   Polo  150.0

In [ ]:
'''
Mini-Projeto SQL: Análise de Aluguéis de Carros
Contexto
A locadora deseja entender melhor o perfil dos clientes, o desempenho dos carros
e o comportamento de aluguéis para tomar decisões mais estratégicas. Seu objetivo é gerar insights úteis com base nos dados já existentes.
'''

In [ ]:
'''
1. Quantos aluguéis cada cliente fez? (Agregação + GROUP BY)




2.
Quais carros foram alugados mais de 2 vezes? (GROUP BY + HAVING)



3. Quem são os clientes que alugaram o carro mais caro? (SUBCONSULTA + JOIN)



4. Quais modelos de carros nunca foram alugados? (SUBCONSULTA NOT IN)




5. Classifique os carros como 'Econômico', 'Padrão' ou 'Premium' com base no valor. (CASE)



6. Crie uma CTE que retorne os clientes com mais de 2 aluguéis.



7. Crie uma VIEW chamada vw_resumo_alugueis com nome do cliente, modelo do carro e data do aluguel.




8. Use a vw_resumo_alugueis para consultar todos os aluguéis feitos por 'Ana Silva'.




9. Mostre a média de valor dos carros alugados por cliente. (JOIN + GROUP BY + AVG)



10. Encontre a cidade com o maior número de clientes. (GROUP BY + ORDER BY + LIMIT)




Entrega do Projeto
Criem uma sequência de consultas em um notebook.

'''

1. Quantos aluguéis cada cliente fez? (Agregação + GROUP BY)

In [167]:
import mysql.connector
import pandas as pd

# Definindo os dados de conexão
host = '34.170.104.203'  # IP público da sua instância MySQL na GCP
user = 'root'  # Usuário padrão ou o nome do usuário configurado
password = ''  # Senha do seu banco de dados MySQL

# Criando a conexão com o banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password
)

# Criando o cursor para executar comandos SQL
cursor = connection.cursor()

# Consulta SQL para listar os bancos de dados
query = 'SHOW DATABASES;'
cursor.execute(query)

# Armazenando os resultados
result = cursor.fetchall()

# Convertendo os resultados para um DataFrame do Pandas
bancos = pd.DataFrame(result, columns=["Databases"])  # Nomeando a coluna corretamente

# Exibindo a tabela Pandas
display(bancos)

# Fechando cursor e conexão
cursor.close()
connection.close()

            Databases
0  information_schema
1            locadora
2               mysql
3  performance_schema
4                 sys

In [170]:
import mysql.connector
import pandas as pd

# Dados de conexão
host = '34.170.104.203'  # IP da sua instância MySQL na GCP
user = 'root'  # Seu nome de usuário do MySQL
password = ''  # Senha do seu banco de dados MySQL

# Conectando-se ao banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database='locadora'  # Substitua pelo nome do seu banco de dados
)

# Criando o cursor
cursor = connection.cursor()

# Consulta SQL
query = '''
SELECT codcliente, COUNT(*) AS total_alugueis
FROM aluguel
GROUP BY codcliente;
'''

# Executando a consulta
cursor.execute(query)

# Recuperando os resultados
result = cursor.fetchall()

# Convertendo para DataFrame do Pandas
df = pd.DataFrame(result, columns=["codcliente", "total_alugueis"])

# Exibindo os resultados
print(df)

# Fechando cursor e conexão
cursor.close()
connection.close()

   codcliente  total_alugueis
0           1               3
1           2               3
2           3               2
3           5               2

Quais carros foram alugados mais de 2 vezes? (GROUP BY + HAVING)

In [172]:
import mysql.connector
import pandas as pd

# Dados de conexão
host = '34.170.104.203'  # IP da sua instância MySQL na GCP
user = 'root'  # Seu nome de usuário do MySQL
password = ''  # Senha do seu banco de dados MySQL
database = 'locadora'  # Nome do seu banco de dados

# Conectando-se ao banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database  # Nome do banco de dados
)

# Criando o cursor
cursor = connection.cursor()

# Consulta SQL corretamente como uma string
query = '''
SELECT codcarro, COUNT(*) AS total_alugueis
FROM aluguel
GROUP BY codcarro
HAVING COUNT(*) > 2;
'''

# Executando a consulta
cursor.execute(query)

# Recuperando os resultados
result = cursor.fetchall()

# Convertendo para DataFrame do Pandas para melhor visualização
df = pd.DataFrame(result, columns=["codcarro", "total_alugueis"])

# Exibindo os resultados
print(df)

# Fechando cursor e conexão
cursor.close()
connection.close()

   codcarro  total_alugueis
0         1               4
1         2               3

. Quem são os clientes que alugaram o carro mais caro? (SUBCONSULTA + JOIN)

In [176]:
import mysql.connector
import pandas as pd

# Dados de conexão
host = '34.170.104.203'  # IP da sua instância MySQL na GCP
user = 'root'  # Seu nome de usuário do MySQL
password = ''  # Senha do seu banco de dados MySQL
database = 'locadora'  # Nome do seu banco de dados

# Conectando-se ao banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database  # Nome do banco de dados
)

# Criando o cursor
cursor = connection.cursor()

# Consulta SQL para encontrar os clientes que alugaram o carro mais caro
query = '''
SELECT c.nome
FROM cliente c
JOIN aluguel a ON c.codcliente = a.codcliente
JOIN carro ca ON a.codcarro = ca.codcarro
WHERE ca.valor = (SELECT MAX(valor) FROM carro);
'''

# Executando a consulta
cursor.execute(query)

# Recuperando os resultados
result = cursor.fetchall()

# Convertendo para DataFrame do Pandas para melhor visualização
df = pd.DataFrame(result, columns=["Nome do Cliente"])

# Exibindo os resultados
print(df)

# Fechando cursor e conexão
cursor.close()
connection.close()

  Nome do Cliente
0   Bruna Pereira

 Quais modelos de carros nunca foram alugados? (SUBCONSULTA NOT IN)

In [177]:
import mysql.connector
import pandas as pd

# Dados de conexão
host = '34.170.104.203'  # IP da sua instância MySQL na GCP
user = 'root'  # Seu nome de usuário do MySQL
password = ''  # Senha do seu banco de dados MySQL
database = 'locadora'  # Nome do seu banco de dados

# Conectando-se ao banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database  # Nome do banco de dados
)

# Criando o cursor
cursor = connection.cursor()

# Consulta SQL para encontrar os modelos de carros que nunca foram alugados
query = '''
SELECT ca.modelo
FROM carro ca
WHERE ca.codcarro NOT IN (SELECT a.codcarro FROM aluguel a);
'''

# Executando a consulta
cursor.execute(query)

# Recuperando os resultados
result = cursor.fetchall()

# Convertendo para DataFrame do Pandas para melhor visualização
df = pd.DataFrame(result, columns=["Modelo do Carro"])

# Exibindo os resultados
print(df)

# Fechando cursor e conexão
cursor.close()
connection.close()

  Modelo do Carro
0            Kwid

Classifique os carros como 'Econômico', 'Padrão' ou 'Premium' com base no valor. (CASE)

In [178]:
import mysql.connector
import pandas as pd

# Dados de conexão
host = '34.170.104.203'  # IP da sua instância MySQL na GCP
user = 'root'  # Seu nome de usuário do MySQL
password = ''  # Senha do seu banco de dados MySQL
database = 'locadora'  # Nome do seu banco de dados

# Conectando-se ao banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database  # Nome do banco de dados
)

# Criando o cursor
cursor = connection.cursor()

# Consulta SQL para classificar os carros com base no valor
query = '''
SELECT ca.modelo,
       CASE
           WHEN ca.valor <= 120 THEN 'Econômico'
           WHEN ca.valor <= 150 THEN 'Padrão'
           ELSE 'Premium'
       END AS classificacao
FROM carro ca;
'''

# Executando a consulta
cursor.execute(query)

# Recuperando os resultados
result = cursor.fetchall()

# Convertendo para DataFrame do Pandas para melhor visualização
df = pd.DataFrame(result, columns=["Modelo do Carro", "Classificação"])

# Exibindo os resultados
print(df)

# Fechando cursor e conexão
cursor.close()
connection.close()

  Modelo do Carro Classificação
0              Ka     Econômico
1            Argo        Padrão
2            Onix       Premium
3            Polo        Padrão
4            Kwid     Econômico

 Crie uma CTE que retorne os clientes com mais de 2 aluguéis.

In [180]:
import mysql.connector
import pandas as pd

# Dados de conexão
host = '34.170.104.203'  # IP da sua instância MySQL na GCP
user = 'root'  # Seu nome de usuário do MySQL
password = ''  # Senha do seu banco de dados MySQL
database = 'locadora'  # Nome do seu banco de dados

# Conectando-se ao banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database  # Nome do banco de dados
)

# Criando o cursor
cursor = connection.cursor()

# Consulta SQL para encontrar os clientes com mais de 2 aluguéis
query = '''
WITH ClientesAlugueis AS (
    SELECT a.codcliente, COUNT(*) AS total_alugueis
    FROM aluguel a
    GROUP BY a.codcliente
)
SELECT c.nome
FROM cliente c
JOIN ClientesAlugueis ca ON c.codcliente = ca.codcliente
WHERE ca.total_alugueis > 2;
'''

# Executando a consulta
cursor.execute(query)

# Recuperando os resultados
result = cursor.fetchall()

# Convertendo para DataFrame do Pandas para melhor visualização
df = pd.DataFrame(result, columns=["Nome do Cliente"])

# Exibindo os resultados
print(df)

# Fechando cursor e conexão
cursor.close()
connection.close()

  Nome do Cliente
0       Ana Silva
1   Bruna Pereira

Crie uma VIEW chamada vw_resumo_alugueis com nome do cliente, modelo do carro e data do aluguel.

In [181]:
import mysql.connector

# Dados de conexão
host = '34.170.104.203'  # IP da sua instância MySQL na GCP
user = 'root'  # Seu nome de usuário do MySQL
password = ''  # Senha do seu banco de dados MySQL
database = 'locadora'  # Nome do seu banco de dados

# Conectando-se ao banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database  # Nome do banco de dados
)

# Criando o cursor
cursor = connection.cursor()

# Consulta SQL para criar a VIEW
query = '''
CREATE VIEW vw_resumo_alugueis AS
SELECT
    c.nome AS nome_cliente,
    ca.modelo AS modelo_carro,
    a.data_aluguel
FROM
    aluguel a
JOIN
    cliente c ON a.codcliente = c.codcliente
JOIN
    carro ca ON a.codcarro = ca.codcarro;
'''

# Executando a consulta
cursor.execute(query)

# Confirmando que a VIEW foi criada
print("VIEW 'vw_resumo_alugueis' criada com sucesso!")

# Fechando cursor e conexão
cursor.close()
connection.close()

VIEW 'vw_resumo_alugueis' criada com sucesso!

 Use a vw_resumo_alugueis para consultar todos os aluguéis feitos por 'Ana Silva'.

In [182]:
import mysql.connector
import pandas as pd

# Dados de conexão
host = '34.170.104.203'  # IP da sua instância MySQL na GCP
user = 'root'  # Seu nome de usuário do MySQL
password = ''  # Senha do seu banco de dados MySQL
database = 'locadora'  # Nome do seu banco de dados

# Conectando-se ao banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database  # Nome do banco de dados
)

# Criando o cursor
cursor = connection.cursor()

# Consulta SQL para consultar os aluguéis feitos por 'Ana Silva'
query = '''
SELECT *
FROM vw_resumo_alugueis
WHERE nome_cliente = 'Ana Silva';
'''

# Executando a consulta
cursor.execute(query)

# Recuperando os resultados
result = cursor.fetchall()

# Convertendo para DataFrame do Pandas para melhor visualização
df = pd.DataFrame(result, columns=["nome_cliente", "modelo_carro", "data_aluguel"])

# Exibindo os resultados
print(df)

# Fechando cursor e conexão
cursor.close()
connection.close()

  nome_cliente modelo_carro data_aluguel
0    Ana Silva         Polo   2023-04-05
1    Ana Silva         Polo   2023-04-13
2    Ana Silva           Ka   2023-04-15

Mostre a média de valor dos carros alugados por cliente. (JOIN + GROUP BY + AVG)

In [183]:
import mysql.connector
import pandas as pd

# Dados de conexão
host = '34.170.104.203'  # IP da sua instância MySQL na GCP
user = 'root'  # Seu nome de usuário do MySQL
password = ''  # Senha do seu banco de dados MySQL
database = 'locadora'  # Nome do seu banco de dados

# Conectando-se ao banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database  # Nome do banco de dados
)

# Criando o cursor
cursor = connection.cursor()

# Consulta SQL para calcular a média de valor dos carros alugados por cliente
query = '''
SELECT c.nome AS nome_cliente, AVG(ca.valor) AS media_valor
FROM cliente c
JOIN aluguel a ON c.codcliente = a.codcliente
JOIN carro ca ON a.codcarro = ca.codcarro
GROUP BY c.codcliente;
'''

# Executando a consulta
cursor.execute(query)

# Recuperando os resultados
result = cursor.fetchall()

# Convertendo para DataFrame do Pandas para melhor visualização
df = pd.DataFrame(result, columns=["Nome do Cliente", "Média Valor"])

# Exibindo os resultados
print(df)

# Fechando cursor e conexão
cursor.close()
connection.close()

    Nome do Cliente  Média Valor
0  Túlio Nascimento   125.000000
1     Bruna Pereira   123.333333
2         Ana Silva   133.333333
3     Lúcia Andrade   150.000000

 Encontre a cidade com o maior número de clientes. (GROUP BY + ORDER BY + LIMIT)

In [186]:
import mysql.connector
import pandas as pd

# Dados de conexão
host = '34.170.104.203'  # IP da sua instância MySQL na GCP
user = 'root'  # Seu nome de usuário do MySQL
password = ''  # Senha do seu banco de dados MySQL
database = 'locadora'  # Nome do seu banco de dados

# Conectando-se ao banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database  # Nome do banco de dados
)

# Criando o cursor
cursor = connection.cursor()

# Consulta SQL para encontrar a cidade com o maior número de clientes
query = '''
SELECT cidade, COUNT(*) AS total_clientes
FROM cliente
GROUP BY cidade
ORDER BY total_clientes DESC
LIMIT 1;
'''

try:
    # Executando a consulta
    cursor.execute(query)

    # Recuperando os resultados
    result = cursor.fetchall()

    # Verifica se algum resultado foi retornado
    if result:
        # Convertendo para DataFrame do Pandas para melhor visualização
        df = pd.DataFrame(result, columns=["Cidade", "Total de Clientes"])
        # Exibindo os resultados
        print(df)
    else:
        print("Nenhum resultado encontrado para a consulta.")

except mysql.connector.Error as err:
    print(f"Erro ao executar a consulta: {err}")

finally:
    # Fechando cursor e conexão
    cursor.close()
    connection.close()

            Cidade  Total de Clientes
0  Duque de Caxias                  2